#top.header
  .container
    #header-box.col-md-10.col-md-offset-1.text-center
      %h1= t '.splash_title'
      %p.lead= t '.splash_lead'
      %a{ :href => "#about" }
        %span.fa-stack.fa-lg.read-more.fa-2x
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-chevron-down.fa-stack-1x.fa-inverse

%a{ :name => "about" }
.container.about
  .row
    .col-md-8.col-md-offset-2
      %h2= t '.about_title'
      %p.lead= t '.about_lead'
      .text-center
        %a{ :href => "#contact" }
          %span.fa-stack.fa-lg.read-more.fa-2x
            %i.fa.fa-circle.fa-stack-2x
            %i.fa.fa-chevron-down.fa-stack-1x.fa-inverse

.the-team

%a{ :name => "contact" }
.container.contact
  .row
    .col-md-8.col-md-offset-2.heading
      %h2= t '.contact'
      %p.lead= t '.contact_lead'
  .row
    .col-md-3.col-xs-col-12.col-md-offset-2
      .contact-card
        .contact-photo
          %img.img-responsive.img-circle{ :src => image_path("bratt.jpg")}
        .contact-details
          %h4
            Jesper Bratt
          %p
            =t 'roles.project_leader'
          %p
            0730887497
          %p
            jbratt@kth.se
      .contact-card
        .contact-photo
          %img.img-responsive.img-circle{ :src => image_path("engstrom.jpg")}
        .contact-details
          %h4
            Gustav Engström
          %p
            = t 'roles.sales_manager'
          %p
            0704949447
          %p
            guseng@kth.se
    .contact-form.col-md-5
      = render :partial => 'contact_form/form'
