#header-segment.vertical-segment
  %a{ :href => index_path }
    %img.centered#main-logo{ :src => image_path("studs_2015.png") }
  #center-circle.circle.centered
    %h1.centered= t '.splash_title'
  #left-circle.circle.cerice
    %h3.centered= t '.splash_first_description'
  #right-circle.circle.cerice
    %h3.centered= t '.splash_second_description'
#contact-segment.vertical-segment
  #contact-circle.circle.yellow.centered
    %h1.centered= t '.contact'
    %h2.centered Andreas Johansson
    %h3.centered=t 'roles.project_leader'
    %a{ :href => "tel:+46704245454" }
      %h3.centered 070-424 54 54
    %a{ :href => "mailto:andjoh3@kth.se" }
      %h3.centered andjoh3@kth.se
#latestblog-segment.vertical-segment
  #latestblog-circle.circle.cerice
    %h1= t '.latest_from_the_blog'
  #latestblog-text
    = render :partial => 'posts/front_page', :collection => @posts, :as => :post
#instagram-segment.vertical-segment
  #instagram-circle.circle.yellow
    %h1.centered= t '.latest_from_instagram_html'
  #instagram-img-container
    %img{ :src => "/assets/d1.jpg" }
    %img{ :src => "/assets/bratt.jpg" }
    %img{ :src => "/assets/engstrom.jpg" }
    %img{ :src => "/assets/bratt.jpg" }
    %img{ :src => "/assets/newyork.jpg" }
    %img{ :src => "/assets/d1.jpg" }
    %img{ :src => "/assets/newyork.jpg" }
    %img{ :src => "/assets/airplane.jpg" }
    %img{ :src => "/assets/bratt.jpg" }
