#top.header
  .image-overlay
    .container
      .row
        #header-box.col-md-10.col-md-offset-1.text-center
          %h1= t '.splash_title'
          %p.lead= t '.splash_lead'
          %a{ :href => "#about" }
            %button.btn.btn-cerise.read-more= t '.splash_readmore'

%a{ :name => "about" }
#intro.intro
  .container
    .row
      .col-md-8.col-md-offset-2.text-center
        %h2= t '.about_title'
        %p.lead= t '.about_lead'

.the-team

%a{ :name => "contact" }
.contact
  .container
    .row
      .col-md-6.col-md-offset-3.heading.text-center
        %h2= t '.contact'
        %p.lead= t '.contact_lead'

  .container
    .row
      .col-md-6.col-xs-col-12
        .contact-card
          .contact-photo
            %img.img-responsive.img-circle{ :src => image_path("bratt.png")}
          .contact-details
            %h4
              Jesper Bratt
            %p
              Projektledare
            %p
              07300887497
            %p
              jbratt@kth.se
        .contact-card
          .contact-photo
            %img.img-responsive.img-circle{ :src => image_path("engstrom.jpg")}
          .contact-details
            %h4
              Gustav Engström
            %p
              Säljansvarig
            %p
              0704949447
            %p
              guseng@kth.se

      .contact-form.col-md-6
        %form.form-horizontal{ :role => "form" }
          .form-group
            %label.col-sm-3.col-xs-12.control-label{ :for => "inputName" }= t '.contact_name'
            .col-sm-9.col-xs-12
              %input#inputName.form-control{ :type => "text" } 
          .form-group
            %label.col-sm-3.col-xs-12.control-label{ :for => "inputCompany" }= t '.contact_company'
            .col-sm-9.col-xs-12
              %input#inputCompany.form-control{ :type => "text" }
          .form-group
            %label.col-sm-3.col-xs-12.control-label{ :for => "inputEmail" }= t '.contact_mail'
            .col-sm-9.col-xs-12
              %input#inputEmail.form-control{ :type => "email" } 
          .form-group
            %label.col-sm-3.col-xs-12.control-label{ :for => "inputMessage" }= t '.contact_message'
            .col-sm-9.col-xs-12
              %textarea#inputMessage.form-control{ :type => "text", :rows => "5" }
          .form-group
            .col-sm-9.col-sm-offset-3
              %button.btn.btn-cerise.btn-submit= t '.contact_send'
