- active_menu :index

.column
  %h2= t '.title'
  %p= t '.body_html'

  %p.download= link_to t('.download'), "/uploads/studs_product_sheet_#{I18n.locale}.pdf", :class => 'action download'

  %h2= t '.title2'
  %p= t '.body2_html'

  %p= t '.interested_html', contact: contact_path

  %h2= t '.our_skills'
  %ul.skills.tag_cloud
    - tag_cloud(Resume.tag_counts_on(:skills), %w(s1 s2 s3 s4)) do |tag, css_class|
      %li{ class: css_class }= tag.name

.column
  = render partial: 'external_posts', locals: { provider: :tumblr, limit: 3 }
  = render partial: 'external_posts', locals: { provider: :twitter, limit: 3 }

  %h2= t '.recent_images'
  %p
    %img(src="/uploads/splash.jpg" alt="")/
