#header-segment.vertical-segment
  #center-circle.circle.centered
    %img.centered{ :src => image_path("studs_2015.png") }
    %h1.centered= t '.splash_title'
  #left-circle.circle.cerice
    %h3.centered= t '.splash_first_description'
  #right-circle.circle.cerice
    %h3.centered= t '.splash_second_description'
#contact-segment.vertical-segment
  #contact-circle.circle.yellow.centered
    %h1.centered= t '.contact'
    %h2.centered Andreas Johansson
    %h3.centered=t 'roles.project_leader'
    %a{ :href => "tel:+46704245454" }
      %h3.centered 070-424 54 54
    %a{ :href => "mailto:andjoh3@kth.se" }
      %h3.centered andjoh3@kth.se
#latestblog-segment.vertical-segment
  #latestblog-circle.circle.cerice
    %h1= t '.latest_from_the_blog'
  #latestblog-text= t 'Shabby chic seitan bicycle rights hella, vinyl brunch hashtag narwhal, PBR banh mi disrupt biodiesel kogi, Etsy iPhone Odd Future direct trade, Pitchfork skateboard beard art party cray, pug mustache direct trade kogi Banksy DIY, Twee skateboard wayfarers, next level mumblecore crucifix pug, Readymade yr American Apparel, shabby chic Intelligentsia blog brunch aesthetic selvage pop-up, Occupy letterpress chambray butcher mustache, Literally tofu farm-to-table, irony bespoke McSweeney''s retro American Apparel kale chips Pitchfork seitan,'
#instagram-segment.vertical-segment
  #instagram-circle.circle.yellow
    %h1.centered= t 'Instagram'
  #instagram-img-container
    %img{ :src => "/assets/d1.jpg" }
    %img{ :src => "/assets/bratt.jpg" }
    %img{ :src => "/assets/engstrom.jpg" }
    %img{ :src => "/assets/bratt.jpg" }
    %img{ :src => "/assets/newyork.jpg" }
    %img{ :src => "/assets/d1.jpg" }
    %img{ :src => "/assets/newyork.jpg" }
    %img{ :src => "/assets/airplane.jpg" }
    %img{ :src => "/assets/bratt.jpg" }
