#top.header
  .container
    #header-box.col-md-10.col-md-offset-1.text-center
      %h1= t '.splash_title'
      %p.lead= t '.splash_lead'
      %a{ :href => "#news" }
        %span.fa-stack.fa-lg.read-more.fa-2x
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-chevron-down.fa-stack-1x.fa-inverse

%a{ :name => "news"}
.container.news
  .row
    .blog.col-sm-7.col-md-6.col-md-offset-1.col-lg-5.col-lg-offset-2
      %h2= t '.latest_from_the_blog'
      = render :partial => 'posts/front_page', :collection => @posts, :as => :post
      %a.btn.btn-primary{ :href => url_for(:controller=>'posts', :action=>'feed') }
        = t '.all_blog_entries'
    .instagram.col-sm-5.col-md-4.col-lg-3
      = render partial: 'external_posts', locals: { provider: :instagram, limit: 10 }
      %a.btn.btn-primary{ :href => url_for(:controller=>'external_posts', :action=>'index') }
        = t '.all_instagram_entries'