- active_menu :index

.column
  %h2= t '.title'
  %p= t '.body_html'

  %p.download= link_to t('.download'), "/uploads/studs_product_sheet_#{I18n.locale}.pdf", :class => 'action download'

  %h2= t '.title2'
  %p= t '.body2_html'

  %p= t '.interested_html', contact: contact_path

.column
  - entries = ExternalPost.limit(6)
  - if entries.count > 0
    %h2= t '.latest_updates'
    %ul.feed
      - entries.each do |entry|
        %li{ class: entry.provider }<
          %i.icon
          - if entry.provider == 'twitter'
            != tweet_to_html(entry.title)
          - else
            = link_to(t('.blog_post'), blog_url, class: 'author') + ':'
            = link_to entry.title, entry.url
          %span.date{ title: l(entry.pubdate) }= l entry.pubdate, format: :date
          - if can? :manage, ExternalPost
            = link_to '', delete_external_post_path(entry), class: 'action delete'

  %h2= t '.recent_images'
  %p
    %img(src="/uploads/splash.jpg" alt="")/
