#header-segment.vertical-segment
  #center-circle.circle.centered
    %a{ :href => index_path }
      %img.centered#main-logo{ :src => image_path("studs_2015.png") }
    %h1.centered= t '.splash_title'
  #left-circle.circle.cerise
    %h3.centered= t '.splash_first_description'
  #right-circle.circle.cerise
    %h3.centered= t '.splash_second_description'
#contact-segment.vertical-segment
  #contact-circle.circle.yellow.centered
    %h1.centered= t '.contact'
    %h2.centered Axel Samuelsson & Katja Röös
    %a{ :href => "mailto:studs-ansvarig@d.kth.se " }
      %h3.centered studs-ansvarig@d.kth.se 
    %a{ :href => "tel:+46730395052" }
      %h3.centered 073-039 50 52
    %a{ :href => "tel:+46704914879"}  
      %h3.centered 070-491 48 79
    %h3.centered=t 'roles.project_leaders'
#latestblog-segment.vertical-segment
  #latestblog-circle.circle.cerise
    %h1= t '.latest_from_the_blog'
  #latestblog-text
    = render :partial => 'posts/front_page', :collection => @posts, :as => :post
#instagram-segment.vertical-segment
  #instagram-circle.circle.yellow
    %h1.centered= t '.latest_from_instagram_html'
    %a{ :href => instagram_index_path }
      %h4.centered= t '.all_instagram_entries'
  #instagram-frontpage-images.instagram-img-container{ :limit => 9 }
