- active_menu :pub
- pub_time = Time.new(2013, 5, 3, 17, 0)
- trip_time = Time.new(2013, 6, 11, 6, 25)

.column
  %h2= t '.title'
  %p= t '.body_html'
  %p= t '.support_html', link: link_to(t('.support_link_text'), 'http://google.com')
  %p= t '.contact_html', link: link_to(t('.contact_link_text'), contact_path)

  %dl.short
    %dt.date= t '.time'
    %dd.date= l pub_time, format: :long
    %dt.place= t '.place'
    %dd.place= t '.place_text'
    %dt.fb Facebook
    %dd.fb= link_to 'Startup-pub med StuDs', 'https://www.facebook.com/events/312535262208295/'

  .cta-container
    = link_to t('.signup'), pub_signup_path, class: 'cta'

.column
  %h3= t '.pub_countdown'
  = render partial: '/countdown', locals: { time: pub_time }

  %h3= t '.trip_countdown'
  = render partial: '/countdown', locals: { time: trip_time }

  #video
    %h3= t '.video_title'
    %iframe{ src: "http://player.vimeo.com/video/60392932?color=ffffff", width: 360, height: 202 }/
    %p.desc<
      %a{ href: "http://vimeo.com/60392932" }= t '.video_title'
      = t '.video_on'
      %a{ href: "http://vimeo.com" } Vimeo

