%a{ :name => "contact" }
.container
  .row
    .col-md-6.col-md-offset-3.heading.text-center
      - if flash[:notice]
        %h2= t '.success'
      - if flash[:error]
        %h2= t '.error'
      - if flash[:notice]
        %p.lead= t('.thanks')
      - if flash[:error]
        %p.lead= t('.error_message')

      %a{ :href => index_path + "#contact" }
        %button.btn.read-more= t '.back'
