= ext_form_for @user, :class => :resume do |f|
  - if can? :manage, User
    %fieldset.admin
      = f.text_field_row :login
      = f.select_row :role, User::ROLES, include_blank: false

  %fieldset.credentials
    = f.text_field_row :name
    = f.text_field_row :email

  %fieldset.password
    = f.password_field_row :password
    = f.password_field_row :password_confirmation

  %fieldset.actions.align
    = f.submit
