= ext_form_for @user, :class => :user do |f|
  - if can? :create, User # create AND edit
    %fieldset.admin
      = f.text_field_row :login
      - if can? :manage, User
        = f.select_row :role, User::ROLES, include_blank: false

  %fieldset.credentials
    = f.text_field_row :name
    = f.text_field_row :email

  %fieldset.password
    - unless @user.new_record?
      %h3= t('users.change_password')
    = f.password_field_row :password, :'data-generate' => t('users.generate_password')
    = f.password_field_row :password_confirmation
    - if can? :create, User
      = f.check_box_row :send_credentials_mail

  %fieldset.actions.align
    = f.submit
