- users ||= @users
%table.users.table
  - cols = %w(login role name email)
  %thead
    %tr
      - cols.each do |col|
        %th{ :class => col }= t_attribute(:user, col)
      %th.actions &nbsp;
  %tbody
    - if users.empty?
      %tr
        %td.empty{ colspan: cols.size}>= t('users.no_results')
    - users.each do |user|
      %tr
        %td.login= user.login
        %td.role= user.role
        %td.name= user.name
        %td.email= mail_to user.email
        %td.actions
          .right
            - if can? :edit, user
              %a.btn.btn-default.pull-right{ :href => url_for([:edit, user]) }
                %i.fa.fa-edit.fa-lg
                Edit
            - if can? :destroy, user
              %a.btn.btn-default.pull-right.margin-right{ :href => url_for([:delete, user]) }
                %i.fa.fa-trash-o.fa-lg
                Delete