- users ||= @users
%table.users.table
  - cols = %w(login role name email)
  %thead
    %tr
      - cols.each do |col|
        %th{ :class => col }= t_attribute(:user, col)
      %th.actions &nbsp;
  %tbody
    - if users.empty?
      %tr
        %td.empty{ colspan: cols.size}>= t('users.no_results')
    - users.each do |user|
      %tr
        %td.login= user.login
        %td.role= user.role
        %td.name= user.name
        %td.email= mail_to user.email
        %td.actions
          .right
            - if can? :edit, user
              = action_link :edit, [:edit, user], :icon, :"btn btn-default pull-right"
            - if can? :destroy, user
              = action_link :delete, [:delete, user], :icon, :"btn btn-danger pull-right margin-right"
