- active_menu :users
.full
  %h2
    = t'.title'
    - if can? :create, User
      = action_link :new, [:new, :user]

  = form_tag users_path, method: :get, class: 'user-search' do
    %fieldset.inline
      .input.select.role
        = label_tag :role, t_attribute(:user, :role)
        .wrap= select_tag :role, options_for_select(User::ROLES, params[:role]), prompt: t('values.any')
      .input.text.name
        = label_tag :name, t_attribute(:user, :name)
        .wrap= text_field_tag :name, params[:name], :'data-suggestions' => User.uniq.pluck(:name).to_json
      .input.actions
        = submit_tag t('actions.filter'), name: nil, :class => :commit
        = action_link :reset, users_path

  = render partial: 'table'
