- active_menu :users
.container
  .row
    .col-sm-8.col-sm-offset-2.col-xs-12
      .full
        %h2
          = t'.title'

        = form_tag users_path, method: :get, class: 'user-search form' do
          %fieldset
            .input.select.role.form-group.row
              .col-md-6.col-xs-12
                = label_tag :role, t_attribute(:user, :role)
                .wrap= select_tag :role, options_for_select(User::ROLES, params[:role]), prompt: t('values.any'), :class => "form-control"
            .input.text.name.form-group.row
              .col-md-6.col-xs-12
                = label_tag :name, t_attribute(:user, :name)
                .wrap= text_field_tag :name, params[:name], :'data-suggestions' => User.uniq.pluck(:name).to_json, :class => "form-control"
            .input.actions.form-group.btn-group
              = submit_tag t('actions.filter'), name: nil, :class => :"commit btn btn-default pull-left"
              = action_link :reset, users_path, :"btn btn-default pull-left margin-left"
              - if can? :create, User
                = action_link :new, [:new, :user], :"btn btn-primary margin-left"

        = render partial: 'table'
