%table.events.table
  %thead
    %tr
      %th= t 'events.table.title'
      %th= t 'events.table.organizations'
      %th= t 'events.table.location'
      %th= t 'events.table.start_date'
      %th= t 'events.table.end_date'
  %tbody
    - if events.empty?
      %tr
        %td.empty{ colspan: cols.size}>= t('events.no_results')
    - events.each do |event|
      %tr
        %td= link_to event.title, event
        %td= event.users.map {|user| user.to_s}.to_sentence
        %td= event.location
        %td= l event.start_date, format: :short
        %td= l event.end_date, format: :short