- active_menu :events
.container
  .row
    .col-sm-8.col-sm-offset-2.col-xs-12
      %p#notice
        = notice

      %h1.event-title
        = @event.title
      %p.event-organizations
        = @event.users.map {|user| user.to_s}.to_sentence
      %p.event-location
        = @event.location
      %p.event-date
        = l(@event.start_date, format: :short) 
        \-
        = l(@event.end_date, format: :short)
      .event-description
        = markdown @event.description

      %p
        .btn-group
          - if can? :manage, @event
            %a.btn.btn-primary{ :href => url_for([:edit, :event]) }
              %i.fa.fa-edit
              = t('actions.edit')
            %a.btn.btn-primary{ :href => url_for([:delete, :event]) }
              %i.fa.fa-trash-o
              = t('actions.delete')
          - unless current_user.has_one_event?
            %a.btn.btn-primary{ :href => url_for([:events]) }
              = t('actions.back')