- active_menu :events
.container
  .row
    .col-md-8.col-md-offset-2
      %p#notice
        = notice

      %h1.event-title
        = @event.users.map {|user| user.to_s}.to_sentence
      %p.event-location
        = @event.location
      %p.event-date
        = l(@event.start_date, format: :short) 
      .event-description
        = markdown @event.description
      - unless @event.charts.blank? && @event.quotes.blank?
        %script{'type' => 'text/javascript'}
          = @event.charts
        
        %h3= t '.stats'
        #charts.row

        #quotes
          = markdown @event.quotes

      = javascript_include_tag 'http://www.google.com/jsapi'

      %p
        .btn-group
          - if can? :manage, @event
            %a.btn.btn-primary{ :href => url_for([:edit, :event]) }
              %i.fa.fa-edit
              = t('actions.edit')
            %a.btn.btn-primary{ :href => url_for([:delete, :event]) }
              %i.fa.fa-trash-o
              = t('actions.delete')
          - unless current_user.has_one_event?
            %a.btn.btn-primary{ :href => url_for([:events]) }
              = t('actions.back')