- files ||= @files
%table.files
  - cols = %w(name size mtime).map(&:to_sym)
  %thead
    - cols.each do |col|
      %th{ :class => col }= t_attribute(:file, col)
    %th.actions &nbsp;
  %body
    - if files.empty?
      %tr
        %td.empty{ colspan: cols.size}>= t('files.no_results')
    - files.each do |file|
      %tr
        %td.name= link_to file.name, file.url, :class => 'action download'
        %td.size= number_to_human_size file.size, precision: 2, significant: false
        %td.mtime{ title: l(file.mtime) }= l(file.mtime, format: :ymd)
        %td.actions
          .right
            - if can? :update, :files
              = action_link :replace, files_path(name: file.name), :icon
            - if can? :destroy, :files
              = action_link :delete, delete_file_path(file), :icon

