- active_menu :files

.column.wide
  %h2= t '.title'

  = render partial: 'table'

- if can? :create, :files
  .column.small
    %h2= t '.upload'

    = ext_form_for :file, url: files_path, method: :post, multipart: true do |f|
      %fieldset.inline
        = f.file_field_row :file
        = f.text_field_row :name, value: params[:name], suggest: @files.map(&:name).sort
      %fieldset
        = f.submit t('actions.upload')
