
.hidden
  = ext_form_for :file, url: files_path, method: :post, multipart: true, :html => { :class => [:file] } do |f|
    = f.file_field :file
= ext_form_for @post, :html => {:class => [:resume, 'form-horizontal'], :role => 'form'} do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :title, :placeholder => t('posts.index.title')
  = f.text_area :content, rows: 20, hint: true, :data => {:provide => "markdown"}

  = f.submit
  - if can? :read, Post
    = action_link :cancel, @post, :"btn btn-default"

  = f.check_box_label :published