- active_menu :posts
= render partial: '/flash', locals: { flash: flash }
.container
  .row
    .col-md-8.col-md-offset-2
      %h2<
        = t_model_action :post, :new

      = render partial: 'form'
.modal.fade#post-image-modal{role: "dialog", tabindex: 1}
  .modal-dialog
    .modal-content
      .modal-body
        .container
        - @post_images.each do |post_image|
          -if post_image.image.url(:thumb)
            .col-md-12.modal-image= image_tag post_image.image.url(:thumb)
            %p= post_image.image.url
            %br