= ext_form_for @resume, :class => :resume do |f|
  %fieldset.user
    - if current_user.admin?
      = f.collection_select :user, User.students, :id, :name, include_blank: true
    - else
      = f.hidden_field :user_id

  %fieldset.personal
    = f.text_field :name
    = f.date_select :birthdate, start_year: 1980, include_blank: false
    = f.text_field :email
    = f.text_field :phone

  %fieldset.skills
    = f.text_field :skill_list

  %fieldset.experiences

  %fieldset.actions
    = f.submit
