= ext_form_for @resume, :class => :resume do |f|
  %fieldset.author
    - if can? :manage, User
      = f.collection_select_row :user_id, User.students, :id, :name, include_blank: true, hint: true
    - else
      = f.hidden_field :user_id

  %fieldset.credentials
    = f.text_field_row :name, hint: true
    = f.select_row :masters, Resume::MASTERS.map { |m| [t_masters(m), m] }, include_blank: false, hint: true
    = f.date_select_row :birthdate, start_year: 1980, end_year: 1995, include_blank: false, hint: true, default: Date.new(1989, 1, 1)
    = f.text_field_row :email, hint: true
    = f.text_field_row :phone, hint: true
    = f.text_area_row :presentation, rows: 4, row_class: :wide, hint: true
    = f.text_field_row :skill_list, row_class: :wide, hint: true, :'data-suggestions' => Resume.existing_skills.to_json

  %fieldset.experiences

  %fieldset.actions
    = f.submit
