- max_skills_shown = 5
- resumes ||= @resumes
- filtered_skills ||= @filter.skills || []
%table.resumes.table
  - cols = %w(name email skills)
  %thead
    %tr
      - cols.each do |col|
        %th{ :class => col }= t_attribute(:resume, col)
      %th.actions
        .pull-right
          = link_to resumes_path(format: :zip, :params => params), { class: [:action, :download], title: t('actions.download') } do
            %i.fa.fa-download.fa-2x
  %tbody
    - if resumes.empty?
      %tr
        %td.empty{ colspan: cols.size}>= t('resumes.no_results')
    - resumes.each do |res|
      %tr
        %td.name= res
        %td.email= mail_to res.email
        %td.skills<
          - skills = res.skills_except(filtered_skills)
          - skills[0...max_skills_shown].each do |s|
            = link_to s, url_for(params.merge({s: s})), :class => :itag
          - if skills.size > max_skills_shown
            %span.more &hellip;
        %td.actions
          .pull-right
            = link_to resume_path(res, format: :pdf), {class: [:action, :download], title: t('actions.download')} do
              %i.fa.fa-download.fa-2x
          - if res.linkedin_url?
            .pull-left
              = link_to res.full_linkedin_url, {class: 'action show'} do
                %i.fa.fa-linkedin-square.fa-2x
