- active_menu :resumes
%h2= t '.title'

= form_tag resumes_path, method: :get, :class => 'resume-search' do
  .input.text.name
    = label_tag :n, t_attribute(:name)
    .wrap= text_field_tag :n, @filter.n
  .input.text.skills
    = label_tag :s, t_attribute(:skills)
    .wrap= text_field_tag :s, @filter.s, :'data-suggestions' => Resume.existing_skills.to_json
  = submit_tag t('actions.filter')

= render partial: '/flash', locals: { flash: flash }

= render partial: 'list'
