- active_menu :resumes
.full
  %h2<
    = t '.title'
    - if can? :manage, Resume
      = action_link :new, [:new, :resume]

  = form_tag resumes_path, method: :get, :class => 'resume-search' do
    %fieldset.inline
      .input.text.name
        = label_tag :n, t_attribute(:resume, :name)
        .wrap= text_field_tag :n, @filter.n, :'data-suggestions' => Resume.uniq.pluck(:name).to_json
      .input.text.skills
        = label_tag :s, t_attribute(:resume, :skills)
        .wrap= text_field_tag :s, @filter.s, :'data-suggestions' => Resume.existing_skills.to_json
      .input.actions
        = submit_tag t('actions.filter'), name: nil, :class => :commit
        = action_link :reset, resumes_path 

  = render partial: 'table'
