- active_menu :resumes

- if can? :edit, @resume
  = link_to t('actions.edit'), [:edit, @resume], :class => 'head edit'

%h2
  %span.prefix= t('models.a.resume') + ': '
  = @resume.name

%dl.col.left.credentials
  = attribute_definition :masters, @resume.masters_name
  = attribute_definition :birthdate, t('.birthdate', date: l(@resume.birthdate), age: @resume.person_age)
  = attribute_definition :email, mail_to(@resume.email)
  = attribute_definition :phone, @resume.phone

- if @resume.presentation.present?
  %div.col.left.presentation
    %h3= t 'attributes.presentation'
    .body= @resume.presentation
