- active_menu :resumes

.col.left.title
  - if can? :edit, @resume
    = link_to t('actions.edit'), [:edit, @resume], :class => 'head edit'
  %h2= @resume.name

%dl.col.left.credentials
  = attribute_definition :masters, t_masters(@resume.masters)
  = attribute_definition :birthdate, t('.birthdate', date: l(@resume.birthdate), age: @resume.person_age)
  = attribute_definition :email, mail_to(@resume.email)
  = attribute_definition :phone, @resume.phone

- if @resume.presentation.present?
  %div.col.left.presentation
    %h3= t_attribute :presentation
    .body= paragraphize @resume.presentation

.col.left.skills
  %h3= t_attribute :skills
  %ul.tags
    - @resume.skills.each do |s|
      %li= link_to s, resumes_path(s: s.name), :class => :tag
