!!! Strict
%html(xmlns="http://www.w3.org/1999/xhtml"){ lang: I18n.locale }
  %head
    %title= t('common.title')
    %meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')/
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Ubuntu+Condensed'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'
    = javascript_include_tag 'application'
    = yield :head
    = render partial: '/google_analytics'
  %body{ id: "#{controller_name}-#{action_name}" }
    #top
      #header.cf
        %h1= link_to t('common.title'), index_path, id: :logo

        %ul#nav.nav
          - %w(index pub earlier resumes contact files).each do |target|
            - if can? :view, target.to_sym
              - path = send("#{target}_path".to_sym)
              %li= link_to t("titles.#{target}"), path, :class => (target.to_sym == active_menu ? :active : nil)

        %ul#languages.nav
          - [%w(sv Svenska), %w(en English)].each do |lang, name|
            - next if I18n.locale.to_s == lang
            - css_class = [lang, (:active if I18n.locale.to_s == lang)].join(' ')
            %li= link_to t("common.languages.#{lang}"), url_for(locale: lang), title: name, :class => css_class

        - if logged_in?
          %ul#userbar
            - if can? :view, :users
              %li.admin= link_to t('titles.users'), users_path
            - if student?
              %li.resume= link_to t('common.my_resume'), mine_resumes_path
            %li.user= link_to current_user.login, me_users_path
            %li.logout= link_to t('session.logout'), logout_path

    #main
      = render partial: '/flash', locals: { flash: flash }
      #content.cf
        = content_for?(:content) ? yield(:content) : yield

    = yield :additional
