!!! Strict
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    %title= t('common.title')
    %meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')/
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Ubuntu+Condensed'
    = stylesheet_link_tag 'application'
    -#= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'
    -#= javascript_include_tag 'application'
    = yield :head
  %body{ id: "#{controller_name}-#{action_name}" }
    #top
      #header.cf
        %h1= link_to t('common.title'), index_path, id: :logo
        %ul#nav
          - %w(index resumes contact).each do |target|
            - path = send("#{target}_path".to_sym)
            %li= link_to t("titles.#{target}"), path, :class => (target.to_sym == active_menu ? :active : nil)
        %ul#languages
          - %w(sv en).each do |lang|
            - css_class = [lang, (:active if params[:locale] == lang)].join(' ')
            %li= link_to t("common.languages.#{lang}"), url_for(locale: lang), :class => css_class

    #content.cf
      = content_for?(:content) ? yield(:content) : yield

    = yield :additional
