!!! 5
%html(xmlns="http://www.w3.org/1999/xhtml"){ lang: I18n.locale }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{ :name => "description", :content => "" }
    %meta{ :name => "author", :content => "" }
    %title= t('common.title')
    %meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')/
    = stylesheet_link_tag 'bootstrap'
    = stylesheet_link_tag 'style'
    = stylesheet_link_tag 'font-awesome.min.css'
    = render partial: '/google_analytics'
  %body
    %a{ :name => "home" }
    %nav#navigation-bar.navbar.navbar-fixed-top{ :role => "navigation" }
      .col-md-10.col-md-offset-1
        .navbar-header
          %button.navbar-toggle{ :type => "button", :data => { :toggle => "collapse", :target => ".navbar-full-collapse" }}
            %span.sr-only= = t 'navigation.toggle'
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a{ :href => "#home" }
            %img.logo{ :src => image_path("studs_2014.png") }

        .collapse.navbar-collapse.navbar-full-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{ :href => "#about-studs" }= t 'navigation.about'
            %li
              %a{ :href => "#contact" }= t 'navigation.contact'

    .content
      = content_for?(:content) ? yield(:content) : yield

    = javascript_include_tag 'jquery'
    = javascript_include_tag 'bootstrap'
    = javascript_include_tag 'script'