!!! 5
%html(xmlns="http://www.w3.org/1999/xhtml"){ lang: I18n.locale }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" }
    %meta{ :name => "description", :content => "" }
    %meta{ :name => "author", :content => "" }
    %title= t('common.title')
    %meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')/
    = stylesheet_link_tag 'application'
    = favicon_link_tag 'favicon.ico'
    = render partial: '/google_analytics'
  %body
    #navcontainer{ :role => "navigation" }
      %a{ :href => index_path }
        %img.logo{ :src => image_path("studs_2015.png") }
      %ul.right#navlist
        %li
          = link_to t('navigation.newsfeed'), newsfeed_path, :class => (:newsfeed == active_menu ? :active : nil)
        %li
          = link_to t('navigation.events'), events_path, :class => (:events == active_menu ? :active : nil)
        %li
          = link_to t('navigation.resumes'), resumes_path, :class => (:resumes == active_menu ? :active : nil)
        - [%w(sv Svenska), %w(en English)].each do |lang, name|
          - next if I18n.locale.to_s == lang
          - css_class = [lang, (:active if I18n.locale.to_s == lang)]
          / %li= link_to t("common.languages.#{lang}"), url_for(locale: lang), :class => css_class
        - if not logged_in?
          %li
            = link_to t('navigation.login'), login_path
        - if logged_in?
          %li
            %a{ :href => "#", :data => { :toggle => "dropdown"} }
              = current_user.login
              %b.caret
            %ul.dropdown-menu.pull-right#navdropdown
              %li
                - if organization?
                  = link_to t('navigation.introduction'), intro_users_path, :class => (:intro == active_menu ? :active : nil)
                - if can? :manage, Post
                  = link_to t('navigation.posts'), posts_path, :class => (:posts == active_menu ? :active : nil)
                - if can? :manage, PostImage
                  = link_to t('navigation.post_images'), post_images_path, :class => (:post_images == active_menu ? :active : nil)
                - if can? :manage, File
                  = link_to t('navigation.files'), files_path, :class => (:files == active_menu ? :active : nil)
                -if can? :index, User
                  = link_to t('navigation.users'), users_path, :class => (:users == active_menu ? :active : nil)
                = link_to t('navigation.profile'), me_users_path, :class => (:me_users == active_menu ? :active : nil)
                - if student?
                  = link_to t('navigation.resume'), mine_resumes_path
                = link_to t('navigation.logout'), logout_path


    - if current_page?index_path or current_page?('/')
      = content_for?(:content) ? yield(:content) : yield
    - else
      .content
        = content_for?(:content) ? yield(:content) : yield

    = javascript_include_tag 'application'