!!! 5
%html(xmlns="http://www.w3.org/1999/xhtml"){ lang: I18n.locale }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1"}
    %meta{ :name => "description", :content => "" }
    %meta{ :name => "author", :content => "" }
    %title= t('common.title')
    %meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')/
    = stylesheet_link_tag 'application'
    = favicon_link_tag 'favicon.ico'
    = render partial: '/google_analytics'
  %body
    .navbar-main#navigation-bar
      .navbar.navbar-fixed-top.navbar-default{ :role => "navigation" }
        .container
          .col-md-offset-2.col-md-8
            .navbar-header
              %button.navbar-toggle{ :type => "button", :data => { :toggle => "collapse", :target => ".navbar-collapse" }}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a{ :href => index_path }
                %img.logo{ :src => image_path("studs_2014_small.png") }

            .collapse.navbar-collapse
              %ul.nav.navbar-nav.navbar-right
                %li
                  = link_to t('navigation.about'), index_path(:anchor => 'about')
                %li
                  = link_to t('navigation.contact'), index_path(:anchor => 'contact')
                %li
                  = link_to t('navigation.resumes'), resumes_path
                - if can? :read, Event
                  %li
                    = link_to t('navigation.events'), events_path, :class => (:events == active_menu ? :active : nil)

                - [%w(sv Svenska), %w(en English)].each do |lang, name|
                  - next if I18n.locale.to_s == lang
                  - css_class = [lang, (:active if I18n.locale.to_s == lang)]
                  %li= link_to t("common.languages.#{lang}"), url_for(locale: lang), :class => css_class

                - if not logged_in?
                  %li
                    = link_to t('navigation.login'), login_path
                - if logged_in?
                  %li.dropdown
                    %a.dropdown-toggle{ :href => "#", :data => { :toggle => "dropdown"}}
                      = current_user.login
                      %b.caret
                    %ul.dropdown-menu
                      %li
                        - if organization?
                          = link_to t('navigation.introduction'), intro_users_path
                        -if admin?
                          = link_to t('navigation.users'), users_path
                        = link_to t('navigation.profile'), me_users_path
                        - if student?
                          = link_to t('navigation.resume'), mine_resumes_path
                        = link_to t('navigation.logout'), logout_path

    - if current_page?index_path or current_page?('/')
      = content_for?(:content) ? yield(:content) : yield
    - else
      .content
        = content_for?(:content) ? yield(:content) : yield

    = javascript_include_tag 'application'

    
