!!! 5
%html(xmlns="http://www.w3.org/1999/xhtml"){ lang: I18n.locale }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{ :name => "description", :content => "" }
    %meta{ :name => "author", :content => "" }
    %title= t('common.title')
    %meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')/
    = stylesheet_link_tag 'bootstrap'
    = stylesheet_link_tag 'style'
    = stylesheet_link_tag 'font-awesome.min.css'
    = render partial: '/google_analytics'
  %body
    %nav#navigation-bar.navbar.navbar-fixed-top{ :role => "navigation" }
      .col-md-10.col-md-offset-1
        .navbar-header
          %button.navbar-toggle{ :type => "button", :data => { :toggle => "collapse", :target => ".navbar-full-collapse" }}
            %span.sr-only= = t 'navigation.toggle'
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a{ :href => "/" }
            %img.logo{ :src => image_path("studs_2014.png") }

        .collapse.navbar-collapse.navbar-full-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{ :href => "#about-studs" }= t 'navigation.about'
            %li
              %a{ :href => "#contact" }= t 'navigation.contact'
            - if not logged_in?
              %li
                = link_to t('navigation.login'), login_path
            - if logged_in?
              %li.dropdown
                %a.dropdown-toggle{ :href => "#", :data => { :toggle => "dropdown"}}
                  = current_user.login
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to t('navigation.profile'), me_users_path
                    - if student?
                      = link_to t('navigation.resume'), mine_resumes_path
                    = link_to t('navigation.logout'), logout_path

    = content_for?(:content) ? yield(:content) : yield

    = javascript_include_tag 'jquery'
    = javascript_include_tag 'bootstrap'
    = javascript_include_tag 'script'